<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >


<suite name="inetbanking">
<listeners>
       <listener class-name="com.inetbankingv3.utilities.Reporting" />
  </listeners>
  <test name="banking app test">
    <parameter name="browser" value="chrome"/>
     <classes>
     
   <!--     <class name="com.inetbankingv3.TestCases.Tc_LoginTest_001"/>                   -->
   <!--     <class name="com.inetbankingv3.TestCases.Tc_AddcCustomer_003"/>                -->
   <!--     <class name="com.inetbankingv3.TestCases.Tc_seleniumD_004"/>                   -->
   <!--     <class name="com.inetbankingv3.TestCases.Tc_InsuranceProject_005"/>            -->
   <!--     <class name="com.inetbankingv3.TestCases.Tc_InsuranceProjectRegister_006"/>    -->
       <!--     <class name="com.inetbankingv3.TestCases.Tc_CustamaizedStatement_007"/>  -->
            <class name="com.inetbankingv3.TestCases.Tc_CustamaizedStatementFeeldbox_008"/>
     </classes>
  </test>


</suite>